*{
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(bgg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px ;
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

#header .logo img {
    display: block;
    width: 160px;
    height: auto;
}

.menu {
    display: flex;
    gap: 30px;
}

.bar{
   text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 1px 2px;
    transition: 0.2s ease;
}

.bar:hover {
    color:rgb(84, 159, 162);
    box-shadow: 10px 3px 1px;
}

.subpage1{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: start;
    justify-self: end;
    height: auto;
    width: 430px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    font-size: 2rem;
    margin-right: 40px;
    margin-top: 200px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
}

.subhead{
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

.input1 {
    width: 100%;
    padding: 14px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    border: 0.2px solid black;
    border-radius: 5px;
    align-self: center;
    box-shadow: 2px 2px 5px grey;
}
.input1:hover{
    box-shadow: 5px 5px 7px grey;
}
.button1{
    width: 100%;
    padding: 14px;
    font-size: 1.5rem;
    margin-top: 8px;
    border-radius: 5px;
    border: .2px solid black;
    box-shadow: 2px 2px 5px grey;
}
.button1:hover{
    box-shadow: 5px 5px 7px grey;
    cursor: pointer;
    background-color: rgb(84, 159, 162);
    color: rgb(255, 255, 255);
}
#forgotp{
    font-size: 1.2rem;
    text-align: start;
}
#logintext{
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;
}
.form1{
    margin-right: 30px;
}



@media (max-width: 1024px) {

    #header {
        padding: 10px 20px;
    }

    #header .logo img {
        width: 130px;
    }

    .menu {
        gap: 15px;
        flex-wrap: wrap;
    }

    .bar {
        font-size: 18px;
        margin-left: 0;
        padding: 8px 10px;
    }

    .subpage1 {
        margin-top: 180px;
        margin-right: 20px;
    }
}

@media (max-width: 600px) {

    #header {
        padding: 10px 20px;
        flex-direction: row;
        align-items: flex-start;
        justify-content:flex-end;
        gap: 8px;
    }

    #header .logo img {
        width: 100px;
    }

    .menu {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    .bar {
        font-size: 16px;
        margin-left: 0;
        padding: 6px 10px;
    }

    .subpage1 {
        width: 90%;           
        margin-top: 160px; 
        margin-left: auto;
        margin-right: auto;   
        font-size: 1.6rem;
    }

    .input1,
    .button1 {
        font-size: 1.2rem;
    }
}
